html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: #270722;
  text-decoration: none;
}

body {
  background-image: linear-gradient(
    to right,
    #e4afcb 0%,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #e2c58b 30%,
    #c2ce9c 64%,
    #7edbdc 100%
  );
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.homepage-header {
  width: 1000px;
  margin: 0 auto;
}

.homepage-header__heading {
  color: #6d6875;
  font-size: 30px;
}

.homepage-header__heading--main {
  display: flex;
  justify-content: center;
  font-size: 45px;
  font-weight: bold;
  border: 2px solid #270722;
  background-color: rgba(47, 10, 41, 0.123);
}
.navigation {
  max-width: 100vw;
  display: flex;
  justify-content: center;
}

.navigation__link {
  border: 1px solid #270722;
  width: 100px;
  padding: 1px;
  margin: 2px;
  background: #300a2a85;
  color: #dbcf96;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.notes {
  display: inline-block;
  border: 1px solid #270722;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #300a2a85;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  width: 20vw;
  overflow: auto;
  height: 300px;
}

.notes-heading {
  color: #f9c802;
  margin-top: 0;
}

p {
  color: #dbcf96;
}
