html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-image: linear-gradient(
    to right,
    #e4afcb 0%,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #e2c58b 30%,
    #c2ce9c 64%,
    #7edbdc 100%
  );
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.homepage-header {
  width: 1000px;
  margin: 0 auto;
}

.navigation {
  width: 100vw;

}

.navigation__link {
  display: inline-block;
  border: 1px solid #270722;
  width: 100px;
  margin: auto;
  padding: 1px;
  background: #300a2a85;
}

.notes {
  display: inline-block;
  border: 1px solid #270722;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #300a2a85;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  width: 20vw;
  overflow: auto;
  height: 300px;
}

.notes-heading {
  color: #f9c802;
  margin-top: 0;
}

p {
  color: #dbcf96;
}
