html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a {
  color: #270722;
  text-decoration: none;
}

body {
  background-image: linear-gradient(
    to right,
    #e4afcb 0%,
    #b8cbb8 0%,
    #b8cbb8 0%,
    #e2c58b 30%,
    #c2ce9c 64%,
    #7edbdc 100%
  );
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.form {
}

.form__input {
  display: block;
  min-width: 50vw;
}
.grid {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
  grid-gap: 16px;
}

.grid__element {
  background-color: #520b28;
  color: #dbcf96;
  border: 1px solid hotpink;
  padding: 3px;
}
.footer {
  display: flex;
  justify-content: center;
  color: #270722;
  margin-top: 30px;
}

.footer__navigation {
  color: #270722;
  text-decoration: none;
  margin-left: 2px;
}

.homepage-header {
  display: grid;
  grid-template-areas:
    "header header header"
    "article article aside";
  grid-template-columns: 1fr 1fr 400px;
  margin: 16px
}

.homepage-header__heading {
  color: #6d6875;
  font-size: 30px;
  margin-top: 0;
}

.homepage-header__heading--main {
  grid-area: header;
  grid-column-start: 1;
  display: flex;
  justify-content: center;
  font-size: 45px;
  font-weight: bold;
  border: 2px solid #270722;
  background-color: rgba(47, 10, 41, 0.123);

}

.homepage-header__article {
  grid-area: article;
  
}

.homepage-header__aside {
  grid-area: aside;
}

.layout {
  display: grid;
  grid-template-areas:
    "header header header"
    "article . aside"
    "footer footer footer";
  grid-template-columns: 1fr 64px 200px;
  column-gap: 16px;
  row-gap: 16px;
}

.layout__header {
  grid-area: header;
  background-color: hotpink;
  grid-column: 1 / span 3;
}
.layout__article {
  grid-area: article;
}
.layout__aside {
  grid-area: aside;
}
.layout__footer {
  grid-area: footer;
  grid-column-start: 3;
  grid-column-end: 4;
}
.navigation {
  max-width: 100vw;
  display: flex;
  justify-content: center;
}

.navigation__link {
  border: 1px solid #270722;
  width: 100px;
  padding: 1px;
  margin: 2px;
  background: #300a2a85;
  color: #dbcf96;
  text-decoration: none;
  display: flex;
  justify-content: center;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.flex-notes {
  display: inline-block;
  border: 1px solid #270722;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #300a2a85;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  width: 20vw;
  overflow: auto;
  height: 300px;
  color: #dbcf96;
}

.flex-notes__heading {
  color: #520b28;
  margin-top: 0;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
    margin: 0 0 16px 0;
  }

  .navigation__link {
    padding: 1px;
    margin: 2px;
    color: #dbcf96;
    text-decoration: none;
    border: none;
    display: block;

   
  }
}