.main-heading {
  color: #f9c802;
  margin-top: 0;

}
#top {
  background-color: bisque;
}
ul {
  color: #fcdebe;
}
p {
  color: #dbcf96;
}
body {
  background: #2f4858;
}
nav a {
  color: #270722;
}
a {
  color: #dbcf96;
}
.git-try {
  color: #f9c802;
  background: #270722;
  font-size: smaller;
}
.boxes-notes {
  display: inline-block;
  border: 1px solid #270722;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #300a2a85;
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
  width: 20vw; 
  overflow: auto;
  height: 300px;
}

::-webkit-scrollbar {
  width: 10px;
  }
  ::-webkit-scrollbar-track {
  border-left: 1px solid #270722;
  
  }
  ::-webkit-scrollbar-thumb {
  background: #300a2a85;
      -webkit-box-shadow: inset 0 0 6px #300a2a85;
      
  }
  ::-webkit-scrollbar-thumb:hover {
  background: #300a2a85;
      -webkit-box-shadow: inset 0 0 6px #300a2a85;
     
  }
  ::-webkit-scrollbar-thumb:window-inactive {
  background: #300a2a85;
  }

