.naglowek {
    color: #F9C802;
}
#top {
    background-color: bisque;
}
ul {
    color: #FCDEBE;
}
p {
    color: #DBCF96;
}
body {
    background: #2F4858;
}
nav a {
    color: #270722
}
a {
    color: #DBCF96;
}