.naglowek {
  color: #f9c802;
}
#top {
  background-color: bisque;
}
ul {
  color: #fcdebe;
}
p {
  color: #dbcf96;
}
body {
  background: #2f4858;
}
nav a {
  color: #270722;
}
a {
  color: #dbcf96;
}
.git-try {
  color: #f9c802;
  background: #270722;
  font-size: smaller;
}
